ExemploChart/*.iml
ExemploChart/.gradle
/ExemploChart/local.properties
/ExemploChart/.idea/workspace.xml
/ExemploChart/.idea/libraries
ExemploChart/.DS_Store
/ExemploChart/build
/ExemploChart/scaptures
.idea
